{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="container">
{{#progress}}
	<p class="mb-2">{{info}}</p>
<div class="progress">
  	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">{{percentage}}%</div>
</div>
{{/progress}}
{{#isteacher}}
    <p class="font-weight-bold">
        Promedio del grupo: {{groupaverage}}%
    </p>
    {{#students}}
        <div class="d-flex justify-content-between mt-2">
            <div>{{name}}</div>
            <div>{{progress}}%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                 style="width: {{progress}}%">
            </div>
        </div>
    {{/students}}
{{/isteacher}}
{{^progress}}
	<p class ="text-muted">{{message}}</p>
{{/progress}}
</div>